<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_calendar_test">
   <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application
        android:label="flutter_calendar_test"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
              
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Ajoutez les services pour la gestion des tâches de fond -->
        <service android:name="com.transistorsoft.flutter.backgroundfetch.HeadlessJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false">
          <intent-filter>
            <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
          </intent-filter>
        </service>
        
        <!-- Ajoutez un récepteur de diffusion pour le démarrage au démarrage de l'appareil -->
        <receiver android:name="com.transistorsoft.flutter.backgroundfetch.BackgroundFetchBootReceiver" android:exported="false">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.REBOOT" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </receiver>
        
        <!-- Ajoutez la configuration de l'activité de configuration de Background Fetch -->
        <activity android:name="com.transistorsoft.flutter.backgroundfetch.SettingsActivity"></activity>
        
        <!-- Ne supprimez pas les éléments de métadonnées ci-dessous.
             Ceci est utilisé par l'outil Flutter pour générer GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
    </application>
</manifest>
